<div id="modal-js-example" class="modal is-active" >
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-content">
              <div class="content">
                <form method="post">
                    {% csrf_token %}
                <fieldset>
                    <legend>delete the message</legend>
                <h2>are you sure you want to delete the message "{{object.body}}"</h2>
                <button hx-post="{% url 'chat:msg-delete' object.pk %}" hx-trigger="click" hx-target="closest .box" hx-swap="outerHTML swap:1s" type="submit" class="button is-danger">delete</button>
                </fieldset>
                </form>
              </div>
            </div>
        </div>
    </div>
    <button type="button" class="modal-close is-large js-close-message-modal" aria-label="Close"></button>
  </div>
<script nonce="{{ CSP_NONCE }}">
document.querySelectorAll(".js-close-message-modal").forEach((button) => {
  button.addEventListener("click", () => button.closest(".modal")?.remove(), {once: true});
});
</script>
