<div id="modal-js-example" class="modal is-active" >
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-content">
              <div class="content">
                <form method="post">
                    {% csrf_token %}
                <fieldset>
                    <legend>delete the message</legend>
                <h2>are you sure you want to delete the message "{{object.body}}"</h2>
                <button hx-post="{% url 'chat:msg-delete' object.pk %}" hx-trigger="click" hx-target="closest .box" hx-swap="outerHTML swap:1s" type="submit" class="button is-danger">delete</button>
                {% comment %} <a hx-get="{% url 'chat:chat-channel' chat.id %}" >{{chat.title}}</a> {% endcomment %}
                {% comment %} <a href="{% url 'chat:chat-channel' object.chat_msg.pk %}">cancel</a> {% endcomment %}
                </fieldset>
                </form>
              </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large .js-modal-trigger" data-target="modal-js-example" aria-label="close" onclick="
    var modal = document.querySelector('.modal');
    modal.classList.toggle('is-active');
    modal.remove();

  "></button>
  </div>