{% load humanize %}
<div class="box fade-me-out is-size-7" id="message-{{ object.pk }}">
  <article class="media">
    <div class="media-left">
      {% if object.user.profile.picture %}
        <figure class="image is-48x48 is-1by1">
          <img class="is-rounded" src="{% url 'users:profile_picture' object.user.username %}" alt="{{ object.user.username }}">
        </figure>
      {% endif %}
    </div>
    <div class="media-content">
      <div class="content">
        <strong>{{ object.user.username }}</strong>
        <small>{{ object.date|naturaltime }}</small>
        <pre>{{ object.body }}</pre>
      </div>
    </div>
    {% if can_delete %}
      <div class="media-right">
        <button
          type="button"
          hx-post="{% url 'chat:msg-delete' object.pk %}"
          hx-target="closest .box"
          hx-swap="outerHTML"
          hx-confirm="Delete this message?"
          class="delete"
          aria-label="Delete message"
        ></button>
      </div>
    {% endif %}
  </article>
</div>
