{% load humanize %}

<div class="box fade-me-out is-size-7">
    <article class="media {% ifchanged object.user.id %}
    {% cycle 'is-primary is-light' 'is-info is-light'%}
    {% endifchanged %}">
      <div class="media-left">
        <figure class="image is-48x48 is-1by1">
            {% if object.user.profile.picture %}
            <img class="is-rounded" src="{{ object.user.profile.picture.url }}" alt="{{object.user.username}}">
            {% else %}
          <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png" alt="Image">
          {% endif %}
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{object.user.username}}</strong> <small>{{object.date|naturaltime}}</small>
            <pre>{{object.body}}</pre>
          </p>
        </div>
      </div>
      {% comment %} {% if object.user == user %} {% endcomment %}
      <div class="media-right">
        <button hx-trigger="click" hx-target="closest .box" hx-swap="beforeend" hx-get="{% url 'chat:msg-delete' object.pk %}" class="delete new"></button>
      </div>
      {% comment %} {% endif %} {% endcomment %}
    </article>
</div>