{% extends "HusseinAh/base.html" %}
{% load static %}
{% block title %}
Reset password
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock style %}
{% block base %}

{% if message %}
<div class="alert">{{ message }}</div>
{% endif %}

<div>
    {% load crispy_forms_tags %}
<form method="POST">
    <fieldset>
        <legend>Confirm Password reset</legend>
    {% csrf_token %}
    <table>
        <input type="hidden" name="next" value="{{ next }}">
    {{ form|crispy }}
    <tr><td><input type="submit" value="reset password"></td></tr>
    </table>
    </fieldset>
</form>
</div>
{% endblock %}