{% extends "HusseinAh/base.html" %}
{% load static %}
{% block title %}
Reset password
{% endblock title %}

{% block base %}

{% if message %}
<div class="alert">{{ message }}</div>
{% endif %}

<div>
    {% load crispy_forms_tags %}
<form method="POST">
    <fieldset>
        <legend>Password reset</legend>
    {% csrf_token %}
    <table>
        <input type="hidden" name="next" value="{{ next }}">
    {{ form|crispy }}
    <tr><td><input class="button is-primary" type="submit" value="request validation"></td></tr>
    </table>
    </fieldset>
</form>
</div>
{% endblock %}