{% extends "HusseinAh/base.html" %}
{% load static %}
{% block title %}
Edit Profile
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock style %}
{% block base %}
<img src="{{ user.profile.picture.url }}">
<p>{{ user.profile.picture.url }}</p>
<h1>welcome , {{request.user.username}}</h1>
<email>{{user.email}}</email>
{% load crispy_forms_tags %}
<form action="{% url 'users:profile' %}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Update Profile</legend>
    {% csrf_token %}
    <table>
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    
    <tr><td><input type="submit" value="Update"></td></tr>
    </table>
</fieldset>
</form>
<a href="{% url 'users:logout' %}">logout</a>
{% endblock %}