/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  /* scrollbar-width: thin; */
  /* scrollbar-color: #c67bdb #194748; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  /* width: 11px;
  display: none; */
  width: 3px !important;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  /* background: #194748; */
  -webkit-box-shadow: none !important;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #c67bdb; */
  /* border-radius: 10px;
  border: 3px solid #183c3e; */
  background-color: transparent;

}
.on-scrollbar{
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.on-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  border: 3px solid #183c3e; 
}






.glow {
    margin: 0;
    z-index: 1;
  font-family: 'Times New Roman', Times, serif ;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    -webkit-text-stroke: thick;
}
@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

  .badge {
    background-color: #00d1b2;
    border: 2px solid transparent;
    border-radius: 14px;
    box-shadow: 0 0 0 2px white;
    color: white;
    font-size: 0.65rem;
    height: 14px;
    line-height: calc(7px + 1px);
    min-width: 14px;
    overflow: hidden;
    padding: 0.05rem 0.15rem;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    transform: translate(50%, -50%);
    white-space: nowrap;
  }
  .badge.is-top-left {
    bottom: auto;
    left: 0;
    right: auto;
    top: 0;
    transform: translate(50%, 50%);
  }
  .badge.is-bottom {
    bottom: 0;
    left: 50%;
    right: auto;
    top: auto;
    transform: translate(-50%, 50%);
  }

.fade-me-out.htmx-swapping{
  opacity: 0;
  transition: opacity 1s ease-out;
}