{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>testing</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/ex.css' %}">
    </head>
    <body>
        <main>
            <article class="glass">
                <div class="left-side">left</div>
                <div class="right-side">right</div>
            </article>
            <article class="glass">
                <div class="left-side">left</div>
                <div class="right-side">right</div>
            </article>
            <article class="glass">
                <div class="left-side">left</div>
                <div class="right-side">right</div>
            </article>
            <article class="glass">
                <div class="left-side">left</div>
                <div class="right-side">right</div>
            </article>
            <div class="background-circles">
            <span class="bg-circle"></span>
            <span class="bg-circle"></span>
            <span class="bg-circle"></span>
            <span class="bg-circle"></span>
            </div>
        </main>

    </body>
</html>