<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/m03.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
<meta name="google-site-verification" content="KAzHgH3qTwUULTu0rMkZgIK3Uv7u8Md0gH1eyqSc2Pc" />
<meta name="description" content="A machine learning specialist and full stack developer.">
    <meta name="keywords" content="hussein, ahmad, programming, svu, syrian, Virtual,university,machine, earning, python, django, htmx, flutter, api, postgresql, deep learning,LLM">
    <meta name="author" content="Hussein Ahmad">
    <title>Hussein Portfolio</title>
    <style>
    .my-link {
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: #333;
      border: 2px solid #333;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  .my-link:hover {
      background-color: #333;
      color: #f4f4f4;
  }</style>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-scrolled">
    <header>
        <nav id="navbar-scrolled" class="navbar navbar-expand-lg navbar-light bg-light fixed-top rounded bluring gradientclass" id="navbar">
          <div class="container-fluid">
            <a class="nav-link glow" href="index.html">Hussein</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li id="section-intro-link" class="home-meta">
                    <a class="nav-link" aria-current="page" href="#section-intro">Main</a>
                </li>
                <li id="section-edu-link" class="skills-meta">
                    <a class="nav-link" href="#section-edu">My Education</a>
                </li>
                <li id="section-exp-link" class="project-meta">
                    <a class="nav-link" href="#section-exp">
                      My Experience
                    </a>
                  </li>
                <li id="section-upcom-link" class="about-meta">
                    <a href="#section-upcom" class="nav-link">My Goals</a>
                </li>


              </div>
              <span class="navbar-text">
                  <a class="btn btn-info btn-sm" href="{% url 'posts:index' %}">PARADOME project</a>
                  <a class="btn btn-dark btn-sm" href="{% url 'HusseinAh:feedback' %}">Feedback</a>
            </span>
            </div>
          </div>
        </nav>
</header>

<main>
      <section id="section-intro" style="min-height: 100vh; overflow: hidden;">
            <div id="particles-js" style="z-index: 0; position: fixed;">
            </div>
            <h1 id="myname" class="rotated-border"><span id="name">Hussein Ahmad</span></h1>
            <img id="personal-img" src="{% static 'images/m03.jpg'%}" class="img-fluid rounded-circle personal-border" style="transform: translate(30vw,30vh);" alt="hussein ahmad" width="150" height="150">
            <figure class="text-center" style="z-index: 2;transform:translate(0,45vh)">
              <blockquote class="blockquote">
                <p>Everything is Code, Truth is Passion, Matrix is a documentary...</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="Source Title">Hussein Ahmad</cite>
              </figcaption>
            </figure>

      </section>

      <section id="section-cube">
        <div class="sky-container">
          <div class="shooting-star"></div>
        </div>

        <div class="container code-board">
          <code class="line">
            <span class="declaring">class </span><span class="class">Hussein(Universe</span><span class="normal">.</span><span class="class">Alien)</span><span class="normal">:</span><br>
          </code>

          <div class="padding">
            <code class="line">
             <span class="classvar">name </span><span class="class">= </span><span class="string">'hussein ahmad'</span><br>
            </code>
            <code class="line">
              <span class="classvar">specialization </span><span class="class">= </span><span class="string">'Full-Stack Developer'</span><br>
            </code>
            <code class="line">
             <span class="classvar">hobbies </span><span class="class">= [</span><span class="string">'astronomy'</span><span class="normal">, </span><span class="string">'coding'</span>
            <span class="normal">, </span><span class="string">'researching'</span><span class="class">]</span><br>
            </code>
            <code class="line">
              <span class="classvar">languages </span><span class="class">= [</span><span class="string">'arabic'</span><span class="normal">, </span>
            <span class="string">'english'</span><span class="class">]</span><br>
            </code>
            <code class="line">
              <span class="classvar">skills </span><span class="class">= [</span><span class="string">'python'</span><span class="normal">, </span>
              <span class="string">'django'</span><span class="normal">, </span><span class="string">'laravel'</span><span class="normal">, </span><span class="string">'flutter'</span><span class="normal">, </span><span class="string">'postgresql'</span><span class="normal">, </span>
              <span class="string">'htmx'</span><span class="normal">, </span><span class="string">'css3'</span><span class="normal">, </span>
              <span class="string">'docker'</span><span class="normal">, </span><span class="string">'...'</span><span class="normal">, </span>
              <span class="class">]</span><br>
            </code>
            <code class="line">
              <span class="declaring">def </span><span class="class">UltimateModeFunc(</span><span class="self">self</span><span class="normal">, </span>
                <span class="normal">obsession </span><span class="declaring">= </span><span class="class">True</span>
                <span class="class">)</span><br>
            </code>
            <div class="padding">
              <code class="line">
                <span class="class">return </span><span class="class">super()</span><span class="normal">.</span><span class="class">__init__()</span>
              </code>
            </div>





          </div>
        </div>
        <div class="container cube">
          <div class="top"></div>
          <div>
            <span style="--i:0"></span>
            <span style="--i:1"></span>
            <span style="--i:2"></span>
            <span style="--i:3"></span>
          </div>
        </div>
      </section>

      <section id="section-edu" style="min-height: 100vh;">
        <div class="d-flex justify-content-center" id="section-edu-content" style="    flex-direction: row;
        flex-wrap: wrap;">

          <div class="mb-5">
            <h1 class="mb-5 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
          </svg> Education</h1>
            <ul class="list-group">
              <li class="list-group-item bg-info">
                <h3 class="text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg> Syrian Virtual University</h3>
                <p class="date text-white">2020 - Present</p>
                <p class="text-white">im an information technology engineering student at the syrian virual university, specializing at machine learning</p>
              </li>

            </ul>

          </div>
          <div class="m-5 text-center">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_jiinm99h.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
            <span class="fw-light">i'm now </span>
            <div class="badge bg-secondary text-wrap fs-4">Self-Learner</div>

          </div>
        </div>

      </section>

      <section id="section-exp" style="min-height: 100vh;">
          <div class="d-flex justify-content-center" id="section-exp-content" style="    flex-direction: row;
          flex-wrap: wrap;">
            <div class="mb-5">
              <h1 class="mb-5 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
              </svg> Experience</h1>
              <ul class="list-group">
                <li class="list-group-item bg-secondary">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg> flutter app</h3>
                  <p class="date text-white"> 2024</p>
                  <a href="https://lady-zainab-helping-hands.web.app" class="my-link" target="_blank">Visit Lady Zainab Helping Hands</a>
                  <p class="text-white">im working on a school app, focusing on the web app first..</p>
                </li>
                <li class="list-group-item bg-info">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg> PARADOME project</h3>
                  <p class="date text-white">Sep 2021 - Present</p>
                  <p class="text-white">my own project have been deployed with many skills as django, htmx, pusher.. <a href="https://paradome.pythonanywhere.com/posts/" class="my-link" target="_blank">Take a look</a></p>
                </li>
                <li class="list-group-item bg-secondary">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg> building php and laravel site</h3>
                  <p class="date text-white"> 2022</p>
                  <p class="text-white">i have built a php website and a laravel website also..<a href="https://github.com/husseinahmad7" class="my-link" target="_blank">Visit my github repositories</a></p>
                </li>
                <li class="list-group-item bg-info">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg> building asp website</h3>
                  <p class="date text-white">2021</p>
                  <p class="text-white">i have built a small student management system with c# and asp.net..</p>
                </li>
              </ul>
            </div>
            <div class="mb-5">
              <h1 class="mb-5 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg> Courses</h1>
              <ul class="list-group">
                <li class="list-group-item bg-info">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Deep Learning Specialization</h3>
                  <p class="date text-white">2023</p>
                  <p class="text-white">at coursera</p>
                </li>
                <li class="list-group-item bg-secondary">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Machine Learning Spectialization</h3>
                  <p class="date text-white">2023</p>
                  <p class="text-white">at coursera</p>
                </li>
                <li class="list-group-item bg-info">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Python for everybody Spectialization</h3>
                  <p class="date text-white">2021</p>
                  <p class="text-white">at coursera</p>
                </li>
                <li class="list-group-item bg-secondary">
                  <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Apply advanced testing for your Django web app</h3>
                  <p class="date text-white">2022</p>
                  <p class="text-white">at coursera</p>
                </li>
                <li class="list-group-item bg-info">
                  <h3 class="text-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Deploy a BERT question answering bot on Django</h3>
                  <p class="date text-white">2022</p>
                  <p class="text-white">at coursera</p>
                </li>
                <li class="list-group-item bg-secondary">
                  <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg> Query data in Django</h3>
                  <p class="date text-white">2022</p>
                  <p class="text-white">at coursera</p>
                </li>
              </ul>
            </div>
          </div>

      </section>

      <section id="section-upcom" style="min-height: 100vh;">
        <div class="container" id="section-upcom-content">
          <h1 class="mb-5 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
            <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
            <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
          </svg> Upcomming Skills</h1>
          <div class="mb-5">
            <ul class="list-group">
              <li class="list-group-item bg-info">
                <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                  <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                </svg> Deployment on Firebase & AWS ..</h3>
                <p class="text-white">using Docker, i want to launch my website..</p>
              </li>
              <li class="list-group-item bg-secondary">
                <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                  <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                </svg> Dive Deep at DL</h3>
                <p class="text-white">i'm looking forward to learn next.js or react.js..</p>
              </li>
              <li class="list-group-item bg-info">
                <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                  <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                </svg> AI project</h3>
                <p class="text-white">i want to implement my project with AI</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div id="com" class="container text-center mt-5" style="max-width: 95vw !important;">
        <div class="row align-items-center justify-content-evenly">
          <div class="col">
            <a href="mailto:h7osanna.xyc@gmail.com" class="fw-normal">mail me</a>
          </div>
          <div class="col">
            <a href="tel:+963982489354" class="fw-normal">call me</a>
          </div>
          <div class="col">
            <a href="https://www.linkedin.com/in/hussein-ahmadx9/" class="fw-normal">@ linkedin</a>
          </div>
        </div>

          
      </div>
      

</main>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/m03.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>