{% extends "HusseinAh/base.html" %}
{% load static %}
{% block title %}
{{dome.title}}
{% endblock title %}

{% block base%}
<main>

  <div class="columns is-mobile">
    <div class="columns column is-hidden-mobile">
    <div class="column">
      <div id="dropdown-domes" class="dropdown">
        <div class="dropdown-trigger">
          <button id="domesbtn" class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Domes</span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content" hx-get="{%url 'domes:user-domes' %}" hx-trigger="intersect once" hx-swap="innerHTML" style="overflow-y: scroll;max-height:70vh">
          </div>
        </div>
      </div>
      <aside class="menu">
        <p class="menu-label has-background-info-light">
          General
        </p>
        <ul class="menu-list">
          <li>
            <a hx-get="{% url 'domes:dome-info' dome.id %}" hx-target="#main-content" hx-swap="innerHTML">Info</a>
          </li>
          <li><a hx-get="{% url 'posts:htmxdomeposts' dome.id %}" hx-trigger="click" hx-target="#main-content" hx-swap="innerHTML">Posts</a></li>
          <li><a hx-get="{% url 'domes:dome-members' dome.id %}" hx-trigger="click" hx-target="#main-content" hx-swap="innerHTML">Members</a></li>
          <hr class="navbar-divider">
          <a href="{% url 'messages:directs' dome.user %}">
            Report an issue
          </a>
        </ul>
        <p class="menu-label has-background-info-light">
          Upcomming Features
        </p>
        <ul class="menu-list">
          <li><a>Bookify</a></li>
          <li><a>Events</a></li>
          <li>
            <a>Manage Your Team</a>
            <ul>
              <li><a>Tasks</a></li>
              <li><a>Polls</a></li>
              <li><a>Invitations</a></li>
            </ul>
          </li>
          <li><a>Statics</a></li>
          <li><a>rules</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      {% include 'Domes/dome_detail_categories.html' %}
    </div>

  </div>

    <div class="column is-8-tablet is-centered">
      <div class="container" id="main-content">
        {% include 'Domes/dome_info.html'%}
      </div>
    </div>

    
  </div>
{% comment %} mobile bottom navbar {% endcomment %}
  <nav class="navbar is-fixed-bottom is-hidden-tablet" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" hx-get="{% url 'domes:dome-info' dome.id %}" hx-target="#main-content" hx-swap="innerHTML">
        {% if dome.icon %}
        <figure class="image is-48x48 is-1by1">
            <img class="is-rounded" src="{{ dome.icon.url }}" alt="{{dome.title}}">
          </figure>
        {% endif %}Info
      </a>
          <li class="navbar-item">
            <a hx-get="{% url 'posts:htmxdomeposts' dome.id %}" hx-trigger="click" hx-target="#main-content" hx-swap="innerHTML">Posts</a>
          </li>
          <li class="navbar-item">
            <a hx-get="{% url 'domes:dome-members' dome.id %}" hx-trigger="click" hx-target="#main-content" hx-swap="innerHTML">Members</a>
          </li>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" >
      <div class="navbar-start">
        <div style="overflow-y: auto; height: 50vh" class="on-scrollbar">
      {% include 'Domes/dome_detail_categories.html' %}
        </div>
       <hr class="navbar-divider">
        <div class="navbar-item has-dropdown is-hoverable on-scrollbar" style="overflow-y: auto; height: 20vh">
          <a class="navbar-link">
            Joined Domes
          </a>
  
          <div class="navbar-dropdown">
            <div class="dropdown-content" hx-get="{%url 'domes:user-domes' %}" hx-trigger="intersect once" hx-swap="innerHTML" style="overflow-y: scroll;max-height:70vh">
            </div>
          </div>
        </div>
     
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'messages:directs' dome.user %}">
          Report an issue
        </a>
      </div>
    </div>
  </nav>
        </main>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{csrf_token}}';
      });
      domeBtn = document.querySelector('#domesbtn');
      domesDropdown = document.querySelector('#dropdown-domes');
      domeBtn.addEventListener('click', ()=>{
        domesDropdown.classList.toggle('is-active')
      })
    </script>
  {%endblock base%}