{% extends "HusseinAh/base.html" %}
{% load static %}
{% block title %}
Delete {{ object.title }}
{% endblock title %}

{% block base%}
<main>
    <form method="post">
            {% csrf_token %}
        <fieldset>
            <legend>delete the dome</legend>
        <h2>are you sure you want to delete the Dome "{{object.title}}"</h2>
        <button class="button is-danger" type="submit">delete</button>
        <a href="{% url 'domes:dome-detail' object.pk %}">cancel</a>
    </fieldset>
    </form>
</main>
{%endblock base%}