<div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
        <span>Filter members</span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <fieldset>
            <legend>filter</legend>
            <form hx-target="#main-content" hx-swap="innerHTML" hx-get="{% url 'domes:dome-members' dome_pk %}">
              {%load crispy_forms_tags%}
              {{ filter.form|crispy }}
              <input class="button is-secondary" type="submit" value="filter">
            </form>

          </fieldset>
        </div>
      </div>
    </div>
</div>
<aside class="menu">
    <p class="menu-label">
      Dome Owner
    </p>
    <ul class="menu-list">
        <li><a class="is-link" href="{% url 'posts:user-posts' dome_owner.username %}">{{dome_owner.username}}</a></li>
    </ul>
    {% if mods %}
<p class="menu-label">
    Administration
</p>
<ul class="menu-list">
{% for mod in mods %}
<li id="mod" class="fade-me-out">
    {% if dome_owner == user %}
    <button hx-delete="{% url 'domes:dome-member-delete' dome_id=dome_pk user_id=mod.pk %}" hx-target="closest #mod" hx-swap="outerHTML swap:1" hx-confirm="Are you sure you wish to remove this Admin?" class="delete" aria-label="delete"></button>
    <button hx-get="{% url 'domes:dome-member-raiseordown' pk=dome_pk user_pk=mod.pk option=0 %}" hx-target="closest #mod" hx-swap="outerHTML swap:1" hx-confirm="Are you sure you wish to downgrade this Admin?" class="button is-warning">Downgrade</button>
    {%endif%}
    <a class="is-link is-pulled-left" href="{% url 'posts:user-posts' mod.username %}">{{mod.username}}</a>
</li>  
{%endfor%}
</ul>
{% endif %}

{% if members %}
<p class="menu-label">
      Members
</p>
<ul class="menu-list" id="members">
{% for member in members %}
    <li id="memb" class="fade-me-out">
        {% if dome_owner == user or user in mods %}
            <button hx-delete="{% url 'domes:dome-member-delete' dome_id=dome_pk user_id=member.pk %}" hx-target="closest #memb" hx-swap="outerHTML swap:1s" hx-confirm="Are you sure you wish to remove this Member?" class="delete" aria-label="delete"></button>
            <button hx-get="{% url 'domes:dome-member-raiseordown' pk=dome_pk user_pk=member.pk option=1 %}" hx-target="closest #memb" hx-swap="outerHTML swap:1s" hx-confirm="Are you sure you wish to raise this Member?" class="button is-info">Raise</button>
        {%endif%}
        <a class="is-link is-pulled-left" href="{% url 'posts:user-posts' member.username %}">{{member.username}}</a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% if is_paginated %}
    {% if page_obj.has_next %}
    <div hx-get="{% url 'domes:dome-members' dome_id %}?page={{ page_obj.next_page_number }}" hx-trigger="revealed" hx-swap="beforeend" hx-target="#main-content" hx-select="#members"></div>
    {% endif %}
{%endif%}
</aside>